#div1
{
    width: 100px;
    height: 100px;
    font-size: 30px;
    border:3px solid red;
    background-color: green;
    padding:0px 100px 10px 200px;
    border-radius: 20px;
    margin-bottom: 170px;

}

#div2
{   font-size: 30px;
    margin: 100px 200px 300px 400px;
    width: 100px;
    height: 100px;
    border:3px solid black;
    background-color: red;
    padding:0px 100px 10px 200px;
    border-radius: 20px;

}







